@model IEnumerable<CentralSecurityProject.ViewModels.Security.ApplicationViewModel>
<h4>@ViewBag.Title (@ViewBag.SearchText)</h4>
<hr />
<div class="col-md-12">
    @Html.Partial("GridEX", Model)
</div>
